<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <title>수정 요청 게시판</title>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body id="top">
<main>
    <th:block th:replace="include/header :: header"></th:block>

    <section class="page-title" style="padding: 100px 0;">
        <nav class="breadcrumb has-succeeds-separator is-medium is-right mt-3 p-4 breadcrumb_1" aria-label="breadcrumbs">
            <ul class="mr-5">
                <li><a th:href="@{/static}"><i class="xi-home is-size-3"></i>홈</a></li>
                <li><a th:href="@{/modifyBoard/list}">수정요청</a></li>
            </ul>
            <p class="title has-text-centered mt-1 mb-2">수정요청</p>
        </nav>
    </section>

    <div class="container back_white" style="width: 50%; margin: 0 auto; padding-top: 100px; min-height: 70vh;">
        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">글 번호</th>
                <td th:text="${boardList.id}"></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td th:text="${name}"></td>
                <th scope="row">작성일</th>
                <td th:text="${#temporals.format(boardList.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th scope="row">제목</th>
                <td th:text="${boardList.title}"></td>
                <th scope="row">첨부파일</th>
                <td><a th:href="@{'/download/' + ${boardList.fileId}}">[[${fileList.originFileName}]]</a></td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <textarea title="내용" id="contents" name="contents" th:text="${boardList.content}" readonly></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group mt-3">
            <a class="button" th:href="@{/modifyBoard/list}" style="color: #fff; margin-top: 0px;">목록</a>
            <a class="button" style="margin-top: 0px;" th:href="@{/modifyBoard/remove(id=${boardList.id})}">삭제</a>
            <a class="button" style="margin-top: 0px;" th:href="@{/modifyBoard/modify(id=${boardList.id})}">수정</a>
        </div>

    <script th:inline="javascript">
        const errors = [[${errors}]]
        console.log(errors)
        let errorMsg = ''
        if(errors){
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }

    </script>
</main>

<th:block th:replace="include/footer :: footer"></th:block>

</body>
</html>