<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <body>
    <th:block th:fragment="header">

      <nav id="navbar" class="navbar main-nav">
        <div class="container back_white">
          <div class="navbar-brand ml-0">
            <a class="navbar-item" href="https://www.moel.go.kr/">
              <img th:src="@{/picture/common/고용노동부logo.png}" alt="고용노동부 logo">
            </a>
            <a class="navbar-item logo_img" href="https://www.chunjae.co.kr/">
              <img th:src="@{/picture/common/천재교육logo.png}" alt="천재교육 logo">
            </a>
            <a class="navbar-item" href="https://chunjaetext.co.kr/">
              <img th:src="@{/picture/common/천재교과서logo.png}" alt="천재교과서 logo">
            </a>
          </div>

          <div class="navbar-menu mr-0" id="navigation">
            <ul class="navbar-end">
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/}">홈</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/bigdata}"
                >AI·데이터 과정</a
                >
              </li>

              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/fullStack}"
                >풀스택 과정</a
                >
              </li>

              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/pm}"
                >PM 과정</a
                >
              </li>
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" href="#">천재IT Blog</a>
              </li>
              <th:block sec:authorize="isAnonymous()">
                <li class="navbar-item">
                  <a th:href="@{/member/login}" class="navbar-link is-arrowless">로그인</a>
                </li>
              </th:block>
              <th:block sec:authorize="isAuthenticated()">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Account</a>
                  <div class="navbar-dropdown">
                    <ul>
                      <th:block sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/admin_subject/list}">
                            과정 별 신청 현황
                          </a>
                        </li>
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/admin/apply/list}">
                            사전 신청 현황
                          </a>
                        </li>
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/admin/apply/list}">
                            사전 신청 현황
                          </a>
                        </li>
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/admin/modifyBoard/list}">
                            수정요청
                          </a>
                        </li>
                      </th:block>
                      <th:block sec:authorize="isAuthenticated()">
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/notice/list}">
                            공지사항
                          </a>
                        </li>
                        <li class="navbar-item">
                          <a class="navbar-link is-arrowless" th:href="@{/logout}">
                            로그아웃
                          </a>
                        </li>
                      </th:block>
                    </ul>
                  </div>
                </div>
              </th:block>
              <!-- <form th:action="@{/logout}" method="post">
                <a href="#" onclick="this.closest('form').submit();" class="navbar-item">로그아웃</a>
              </form> -->

            </ul>
          </div>
        </div>
      </nav>
      </th:block>
  </body>
</html>
