<th:block th:fragment="head">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <meta name="Description" content="생성AI시대, 빅데이터에 다이브, 커리어 퀀텀점프!">
    <meta name="keywords" content="천재교육, 천재교과서, 스마트해법수학, 스마트해법영어, e해법수학, 해법영어교실, 수학학원, 영어학원, 수학공부방, 영어공부방, 프랜차이즈, 학원, 공부방, 수학문제은행, 학습지, 과외, 해법에듀, 해법, 해법수학, 초등공부, 초등수학, 초등영어, 중등공부, 중등수학, 중드영어, 초등학원, 중등학원, 내신">

    <!-- 파비콘 설정 -->
    <!-- 표준 파비콘 -->
    <link rel="shortcut icon" th:href="@{/static/images/logo.ico}">

    <!-- 애플 계열 모바일 -->
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/images/logo_64.png}">

    <!-- IE 계열 브라우저 -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/logo_48.png">

    <!-- 파이어폭스, 오페라, 또는 구형 크롬/사파리 -->
    <link rel="icon" th:href="@{/static/images/logo_16.png}" sizes="16x16">
    <link rel="icon" th:href="@{/static/images/logo_32.png}" sizes="32x32">
    <link rel="icon" th:href="@{/static/images/logo_48.png}" sizes="48x48">
    <link rel="icon" th:href="@{/static/images/logo_64.png}" sizes="64x64">

    <!-- 전역적 CSS  설정-->
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/global.css}">


    <!-- JS 요소 정리-->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/static/js/global.js}"></script>
    <script th:src="@{/static/js/slide.js.js}"></script>

</th:block>
