<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fullstack 랜딩페이지</title>
    <th:block th:replace="include/head :: head"></th:block>
  </head>
  <body>
    <th:block th:replace="include/header :: header"></th:block>
    <div class="main">
      <section class="container">
        <!-- 상단배너 start -->
        <section class="banner" id="banner">
          <div class="banner_box">
            <h4 class="font_white">2024 커리큘럼 전면 리뉴얼!</h4>
            <h1 class="banner_title title_white_big">
              Learn by Doing Project <br />
              에듀테크 Java 풀스택 개발자 과정 6기 모집
            </h1>
            <div class="banner_btn">
              <button class="button">접수하기 &nbsp;&nbsp;></button>
            </div>
          </div>
        </section>
        <!-- 상단배너 end -->

        <!-- 모집 카드 start -->
        <section class="container container_bottom">
          <div class="hero-body">
            <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent">
                <article class="tile is-child box box_color border_ra">
                  <p class="titleCard font_white">모집기간</p>
                  <p class="subtitleCard font_white">
                    <b>모집</b>
                    <br />
                    2023.03.05 ~ 2024.04.19
                    <br />
                    <br />
                    <b>합격자 발표</b>
                    <br />
                    인터뷰 이후 일주일 이내
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box box_color border_ra">
                  <p class="titleCard font_white">교육기간</p>
                  <p class="subtitleCard font_white">
                    <b>교육</b>
                    <br />
                    2023.04.24 ~ 2024.10.28
                    <br />
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box box_color border_ra">
                  <p class="titleCard font_white">참여대상</p>
                  <ul class="subtitleCard">
                    <li>국민 내일배움카드 <br />보유 혹은 발급 가능한 자</li>
                  </ul>
                  <ul class="subtitleCard">
                    <li>K-Digital Traning <br />수강 이력이 없는 자</li>
                  </ul>
                  <ul class="subtitleCard">
                    <li>정보통신 및 이공계,<br />교육 관련 전공자 우대</li>
                  </ul>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box box_color border_ra">
                  <p class="titleCard font_white">지원방법</p>
                  <p class="subtitleCard font_white">
                    <b>서류 심사</b>
                    <br />
                    신청폼 작성
                    <br />
                    <br />
                    <b>면접 심사</b>
                    <br />
                    AI 비대면 인터뷰
                    <br />
                    <br />
                    <b>합격자 발표</b>
                    <br />
                    문자 개별 통보
                    <br />
                  </p>
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- 모집 카드 end -->

        <!-- REVIEW start -->
        <section class="container container_bottom">
          <div class="hero-body flex_between">
            <div class="">
              <h4 class="small_title">REVIEW</h4>
              <h1 class="title_white_big title_sub_1">
                6개월 전 취준 고민을 했던<br />
                선배 수료생의 생생한 후기로<br />
                Java 풀스택 과정 미리보기
              </h1>
              <h4 class="font_white title_sub_1">
                1기, 2기 수료생 <b>90% 이상 인턴 전환</b><br />
                <b>후기가 증명하는</b> 천재IT교육센터 풀스택 개발자 과정
              </h4>
              <div class="banner_btn">
                <button class="button">수강후기 보러가기 ></button>
              </div>
            </div>
            <div class="slide slide_wrap">
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/full후기_1.png}"
                  alt="fullstack후기_1"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/full후기_2.png}"
                  alt="fullstack후기_2"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/full후기_3.png}"
                  alt="fullstack후기_3"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/full후기_4.png}"
                  alt="fullstack후기_4"
                />
              </div>
              <div class="slide_prev_button slide_button">◀</div>
              <div class="slide_next_button slide_button">▶</div>
              <ul class="slide_pagination"></ul>
            </div>
          </div>
        </section>
        <!-- REVIEW end -->

        <!-- 모집 안내 start -->
        <section class="container container_bottom">
          <div class="mb-6 pb-3 columns is-multiline">
            <div
              class="is-12 is-6-desktop mx-auto has-text-centered"
              id="infoFullTitle"
            >
              <h2
                class="font_white mb-4 is-size-1 is-size-3-mobile has-text-weight-bold white"
              >
                모집 안내
              </h2>
              <p class="font_white" id="infoFull_subtitle">모집개요</p>
            </div>
          </div>
          <div class="columns is-multiline card_center cardFull">
            <div class="column is-12 is-6-desktop">
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-file"></i></p>
                    <p class="font_white">모집분야</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">Java 풀스택 개발자 과정</li>
                  </ul>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-laptop-code"></i></p>
                    <p class="font_white">교육기간</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">
                      2024.04.24 ~ 2024.10.28
                      <br />
                      09:00 ~ 18:00 (총 960시간)
                    </li>
                    <br />
                  </ul>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-building"></i></p>
                    <p class="font_white">교육형태 및 장소</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">
                      오프라인 교육<br />
                      서울 금천구 디지털로9길 23 <br />
                      마리오아울렛2관 11층 천재IT교육센터<br />
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP">
                      <i
                        class="fas fa-user-check"
                        style="font-size: 35px; color: #fff"
                      ></i>
                    </p>
                    <p class="font_white">우대사항</p>
                  </div>
                </div>
                <div class="ml-3 in_box_2">
                  <ul>
                    <li class="iconIntro">프로그래밍 언어 기본 지식 보유자</li>
                    <li class="iconIntro">
                      정보통신 및 전산학과 졸업, 졸업예정자 또는<br />
                      교직이수자 우대
                    </li>
                    <li class="iconIntro">
                      이공계, 수학, 통계학, 문헌정보, 경영정보, <br />교육 관련
                      전공자 우대
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column is-12 is-6-desktop">
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-users"></i></p>
                    <p class="font_white">모집인원</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">각 과정별 20명</li>
                    <br /><br />
                  </ul>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-calendar-alt"></i></p>
                    <p class="font_white">모집기간</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">2024.03.13 ~ 2024.04.19</li>
                    <br /><br />
                  </ul>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <div class="iconBox">
                  <div class="iconCard text_center">
                    <p class="iconP"><i class="fas fa-clipboard-list"></i></p>
                    <p class="font_white">지원자격</p>
                  </div>
                </div>
                <div class="ml-3 in_box">
                  <ul>
                    <li class="iconIntro">
                      국민내일배움카드 보유 혹은 발급 가능한 자
                    </li>
                    <li class="iconIntro">
                      K-Digital Traning 수강 이력이 없는 자
                    </li>
                    <br />
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 모집 안내 end -->

        <th:block th:replace="sub/sub_inclulde/benefit :: benefit"></th:block>

        <!-- 커리큘럼 start -->
        <section class="container container_bottom">
          <div class="hero-body">
            <div class="container has-text-centered">
              <h4 class="small_title_2">CURRICULUM</h4>
              <h1 class="title_white_big">POINT 01 커리큘럼</h1>
              <p class="subtitle_white text_center">
                풀스택 개발자가 되기 위한 <b>6개월간의 코드 디깅!</b><br />
                교육·프로젝트·회고를 반복하는 <b>'천재'만의 러닝시스템</b>
              </p>
            </div>
          </div>
          <div class="flex_center">
            <div class="">
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">1개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>웹 개발 기초</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">
                        html, css, javascript, git&github
                      </li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico">
                      <img
                        th:src="@{/picture/fullstack/skill/1month_1.webp}"
                        alt="fullstack_skill_1"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/1month_2.webp}"
                        alt="fullstack_skill_2"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/1month_3.webp}"
                        alt="fullstack_skill_3"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/1month_4.webp}"
                        alt="fullstack_skill_4"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/1month_5.webp}"
                        alt="fullstack_skill_5"
                        class="mr_05"
                      />
                    </figure>
                  </div>
                </div>
              </article>
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">3개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>웹 MVC</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">Servlet & JSP</li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico">
                      <img
                        th:src="@{/picture/fullstack/skill/3month_1.webp}"
                        alt="fullstack_skill_16"
                        class="mr_05"
                      />
                    </figure>
                  </div>
                </div>
              </article>
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">5개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>Springboot, 프론트엔드 개발</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">
                        Springboot, JPA, Gradle, Thymeleaf, REACT.js
                      </li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico">
                      <img
                        th:src="@{/picture/fullstack/skill/5month_1.webp}"
                        alt="fullstack_skill_6"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/5month_2.webp}"
                        alt="fullstack_skill_7"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/5month_3.webp}"
                        alt="fullstack_skill_8"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/5month_4.webp}"
                        alt="fullstack_skill_9"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/5month_5.webp}"
                        alt="fullstack_skill_10"
                        class="mr_05"
                      />
                    </figure>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">2개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>웹 개발 기초</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">
                        java, 마리아DB, AWS(RDS)
                      </li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico">
                      <img
                        th:src="@{/picture/fullstack/skill/2month_1.webp}"
                        alt="fullstack_skill_11"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/2month_2.webp}"
                        alt="fullstack_skill_12"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/2month_3.webp}"
                        alt="fullstack_skill_13"
                        class="mr_05"
                      />
                    </figure>
                  </div>
                </div>
              </article>
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">4개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>백엔드 개발</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">
                        Spring, Junit, Mybatis
                      </li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico">
                      <img
                        th:src="@{/picture/fullstack/skill/4month_1.webp}"
                        alt="fullstack_skill_13"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/4month_2.webp}"
                        alt="fullstack_skill_14"
                        class="mr_05"
                      />
                      <img
                        th:src="@{/picture/fullstack/skill/4month_3.webp}"
                        alt="fullstack_skill_15"
                        class="mr_05"
                      />
                    </figure>
                  </div>
                </div>
              </article>
              <article class="notification_2 back_darkgray">
                <div class="media-content_200">
                  <div class="content">
                    <p class="dt_btn">6개월차</p>
                    <p class="benefit_sub_2 font_white">
                      <b>종합 프로젝트</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3 font_white">
                        실무자 멘토와 현업 프로젝트 진행 & 회고
                      </li>
                    </ul>
                  </div>
                  <div class="index_figure_2">
                    <figure class="media-left_2 flex_between_ico"></figure>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 커리큘럼 end -->

        <!-- 포트폴리오 start -->
        <section class="container container_bottom">
          <div class="hero-body">
            <div class="container has-text-centered">
              <h4 class="small_title">PORTFOLIO</h4>
              <h4 class="font_white title_sub_1">
                천재IT교육센터의 인텐시브 러닝시스템
              </h4>
              <h1 class="title_white_big title_sub_1">POINT 02 포트폴리오</h1>
              <h4 class="font_white title_sub_1">
                에듀테크 서비스 미니 프로젝트 약 4개와 최종프로젝트로<br />
                <b>총 5개의 실무프로젝트</b>로 실전 코딩 근육을 키울 수 있어요!
              </h4>
            </div>
          </div>
          <div class="port_box">
            <div class="is-multiline display_block">
              <ul class="font_white">
                <li class="talent_subtitle_4">
                  <div class="index_figure_5">
                    <img
                      th:src="@{/ico/ico-portfolio.png}"
                      alt="포트폴리오 이미지"
                      class="curri_ico"
                    />
                  </div>
                  포트폴리오 01
                </li>
              </ul>
              <div class="column">
                <div class="category">
                  <h1 class="title is-5 btn3 text_center">
                    Java 풀스택 과정 2기
                  </h1>
                  <ul class="font_white">
                    <li>
                      <div class="index_figure_5">
                        <img
                          th:src="@{/ico/ico-checkbox.png}"
                          alt="체크박스 이미지"
                          class="curri_ico"
                        />
                      </div>
                      영단어 학습 플랫폼 서비스, 어휘 학습 및 실력 향상을 위한
                      <br />
                      <p class="category_p">다양한 기능과 콘텐츠 제공 서비스</p>
                    </li>
                  </ul>
                </div>
                <article class="columns is-multiline">
                  <img
                    th:src="@{/picture/fullstack/project_1.gif}"
                    alt="fullstack 포트폴리오1"
                  />
                </article>
              </div>
            </div>
            <div class="is-multiline display_block">
              <ul class="font_white">
                <li class="talent_subtitle_4">
                  <div class="index_figure_5">
                    <img
                      th:src="@{/ico/ico-portfolio.png}"
                      alt="포트폴리오 이미지"
                      class="curri_ico"
                    />
                  </div>
                  포트폴리오 02
                </li>
              </ul>
              <div class="column">
                <div class="category">
                  <h1 class="title is-5 btn2 text_center">
                    Java 풀스택 과정 2기
                  </h1>
                  <ul class="font_white">
                    <li>
                      <div class="index_figure_5">
                        <img
                          th:src="@{/ico/ico-checkbox.png}"
                          alt="체크박스 이미지"
                          class="curri_ico"
                        />
                      </div>
                      천재교육의 IT/기술 교육 기관 학습 관리 시스템
                      <p class="category_p">
                        강좌 관리와 수강생 관리 등 교육 전반체 걸친 통합 운영
                        서비스
                      </p>
                    </li>
                  </ul>
                </div>
                <article class="columns is-multiline">
                  <img
                    th:src="@{/picture/fullstack/project_2.gif}"
                    alt="fullstack 포트폴리오2"
                  />
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- 포트폴리오 end -->

        <th:block
          th:replace="sub/sub_inclulde/mentoring :: mentoring"
        ></th:block>

        <th:block
          th:replace="sub/sub_inclulde/procedure :: procedure"
        ></th:block>
      </section>
      <!-- 예비 개발자 start -->
      <section class="container_reverse">
        <div class="hero-body">
          <div class="container_reverse has-text-centered">
            <h4 class="small_title_2">TALENT</h4>
            <h1 class="title_big">
              천재IT교육센터가 찾는 예비 개발자는 조금 다릅니다.
            </h1>
          </div>
        </div>
        <div class="talent_wrap">
          <div class="talent_wrap_2">
            <div class="talent_1">
              <div class="talent_content">
                <h3 class="talent_title font_gray">기존 인재상</h3>
                <ul>
                  <li class="talent_subtitle font_gray">
                    개발 경력 N년 이상인분
                  </li>
                  <li class="talent_subtitle font_gray">
                    소프트웨어 개발 경험이 있으신 분
                  </li>
                  <li class="talent_subtitle font_gray">
                    컴퓨터 공학 혹은 관련 전공학사 학위가 있으신 분
                  </li>
                </ul>
              </div>
            </div>
            <div class="talent_2">
              <div class="talent_content">
                <h3 class="talent_title">천재교육그룹 인재상</h3>
                <ul>
                  <li class="talent_subtitle font_main_1 font_weight_700">
                    교육의 가치와 중요성을 이해하는 분
                  </li>
                  <p class="talent_subtitle_2">
                    천재IT교육센터에서는 천재교육그룹 실무현장과 유관한
                    프로젝트를 진행해요.
                  </p>
                  <p class="talent_subtitle_2">
                    교육 서비스를 개발하기 위해서 교육의 가치와 중요성을
                    이해해요
                  </p>
                  <li class="talent_subtitle font_main_1 font_weight_700">
                    성장하기 위해 적극적인 태도로 문제를 해결하는 분
                  </li>
                  <p class="talent_subtitle_2">
                    6개월이라는 단기간동안 폭발적으로 성장하기 위해 적극정인
                    태도로 문제를 <br />해결하는 태도가 필요해요.
                  </p>
                  <p class="talent_subtitle_2">
                    문제 정의부터 검증까지, 애자일 방식으로 프로젝트 해요.
                  </p>

                  <li class="talent_subtitle font_main_1 font_weight_700">
                    동료와 사려 깊은 커뮤니케이션이 가능한 분
                  </li>
                  <p class="talent_subtitle_2">
                    천재IT교육센터의 커리큘럼은 프로젝트 중심으로 진행됩니다.
                  </p>
                  <p class="talent_subtitle_2">
                    동료 개발자 뿐만 아니라 기획자, 마케터 등 다른 직무의
                    동료와도 배려하며 소통해요.
                  </p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 예비 개발자 end -->

      <section class="container">
        <th:block th:replace="sub/sub_inclulde/eduplace :: eduplace"></th:block>

        <th:block
          th:replace="sub/sub_inclulde/digital_tran :: digital_tran"
        ></th:block>
      </section>
    </div>
    <script th:src="@{/static/js/slide.js}"></script>
    <th:block th:replace="include/footer :: footer"></th:block>
  </body>
</html>
