<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <title>신청완료 폼</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
<div class="complete_box">
    <div class="complete_image">
    </div>
    <p class="complete_text">신청이 완료되었습니다.</p>
    <a th:href="@{/}" class="complete_home button"> 메인으로 </a>
</div>


</body>
</html>

