<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="benefit">
      <!-- BENEFITS start  -->
      <section class="container container_bottom">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h4 class="small_title">BENEFITS</h4>
            <h1 class="title_white_big title_sub_1">
              PM 취업준비<img
                th:src="@{/ico/benefit_0.png}"
                alt="ico benefit_0"
              />
            </h1>

            <h4 class="font_white title_sub_1">
              떠먹여주는 <b>갓생취업루틴!</b><br />
              교육에만 몰입하세요!
            </h4>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">0원</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    전액 국비지원으로 교육비 0원, <br />
                    PC 및 교재 지원
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_1.png}" alt="ico benefit_1" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">2023년 인턴 111명</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    내부 평가 결과에 따른
                    <br />
                    인턴 및 직원 전환 기회 제공
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_2.png}" alt="ico benefit_2" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">오프라인 몰입도 100%</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    09:00 ~ 21:00 무료 개방되는
                    <br />
                    교육시설에서 오프라인 교육으로 완전 몰입
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_3.png}" alt="ico benefit_3" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">현직자의 현장강의</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    현직 실무자의 현장강의로
                    <br />
                    실무에 필요한 내용만 전략적으로 학습
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_4.png}" alt="ico benefit_4" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">나를 위한 6개월</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    3개월, 4개월만에
                    <br />
                    현업 투입 가능한 개발자가 된다?
                    <br />
                    진짜 개발자가 되기 위한 충분한 투자
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_5.png}" alt="ico benefit_5" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="back_black notification border_gray">
              <div class="media-content">
                <div class="">
                  <h1 class="font_white benefit_title">실무 프로젝트 10개</h1>
                  <br />
                  <p class="benefit_sub font_white">
                    약 10개의 실무 프로젝트로
                    <br />
                    6개월 뒤 탄탄해진 포트폴리오
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_6.png}" alt="ico benefit_6" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      <!-- BENEFITS end  -->
    </th:block>
  </body>
</html>
