<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <title>천재IT교육센터</title>
    <th:block th:replace="include/head :: head"></th:block>
  </head>
  <body>
    <th:block th:replace="include/header :: header"></th:block>
    <div class="main2">
      <!-- banner -->
      <section class="hero is-info is-medium is-bold" id="banner">
        <div class="hero-body">
          <div class="container has-text-centered back_none">
            <h4 class="title_1">천재IT교육센터</h4>
            <br />
            <h1 class="title">에듀테크 PM 교육과정</h1>
            <button type="button" id="ban_btn" class="button">사전예약</button>
          </div>
        </div>
      </section>

      <!--     Section 1 - 카드 -->
      <section class="container container_bottom back_white">
        <div class="hero-body">
          <div class="container has-text-centered back_white">
            <h4 class="title_1 small_title">Education</h4>
            <h1 class="title_big title_sub_1">
              기업에서 직접 운영하는 탄탄한 부트캠프, <br />
              찾으셨나요?
            </h1>
            <h4 class="title_sub_1">
              <b>대한민국 1위 교육 출판 전문 기업 (주)천재교육</b>에서
              <br />
              직접 운영하는 K-디지털 트레이닝 교육기관 천재IT교육센터입니다.
            </h4>
          </div>
        </div>
        <div class="columns features">
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/index_Big.jpg}"
                alt=""
              />
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="course_title">
                  에듀테크 AI, 빅데이터 개발자 <br />교육과정
                </h4>
              </div>
              <a th:href="@{subSign}" class="button width">접수하기</a>

            </div>
          </div>
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/index_Full.jpg}"
                alt=""
              />
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="course_title">
                  에듀테크 JAVA 풀스택 개발자 <br />교육과정
                </h4>
              </div>
              <a th:href="@{subSign}" class="button width">접수하기</a>

            </div>
          </div>
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/index_PM.jpg}"
                alt=""
              />
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="course_title">
                  에듀테크 PM(콘텐츠 기획자) <br />교육과정
                </h4>
              </div>
              <a th:href="@{subSign}" class="button width">접수하기</a>

            </div>
          </div>
        </div>
      </section>

      <!-- Section 2  -->
      <section class="container container_bottom back_white">
        <div class="hero-body">
          <div class="container has-text-centered back_white">
            <h4 class="small_title_2">REVIEW</h4>
            <h1 class="title_big">
              수료생 111명은 이미 "<strong class="font_strong">천재</strong>"
              에서<br />
              새로운 커리어 전환점을 찾았어요!!
            </h1>
            <p class="text_center">
              2023년 <b>수료생 111명 인턴 전환!</b>
              <br />
              천재IT교육센터에서 2024년 새로운 커리어를 준비하세요
            </p>
          </div>
        </div>
        <div class="columns features">
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/blog_1.jpg}"
                alt=""
              />
            </div>
          </div>
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/blog_2.jpg}"
                alt=""
              />
            </div>
          </div>
          <div class="column text_center radius border1">
            <div class="card-image has-text-centered">
              <img
                class="radius2"
                th:src="@{/picture/common/blog_3.png}"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>

      <!-- Section 3  -->
      <section class="container container_bottom back_white">
        <div class="hero-body">
          <div class="container has-text-centered back_white">
            <h4 class="title_1 small_title">BENEFITS</h4>
            <h1 class="title_big title_sub_1">IT직무 취준이 처음이세요?</h1>
            <h4 class="title_sub_1">
              떠먹여주는 &nbsp;<b>갓생취업루틴!</b>
              <br />
              교육에만 몰입하세요!
            </h4>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column is-one-third multiline_box_1">
            <article class="notification media has-background-white">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">0원</h1>
                  <br />
                  <p class="benefit_sub">
                    전액 국비지원으로 교육비 0원, <br />
                    PC 및 교재 지원
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_1.png}" alt="ico benefit_1" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="notification has-background-white media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">2023년 인턴 111명</h1>
                  <br />
                  <p class="benefit_sub">
                    내부 평가 결과에 따른
                    <br />
                    인턴 및 직원 전환 기회 제공
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_2.png}" alt="ico benefit_2" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="notification has-background-white media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4 width">오프라인 몰입도 100%</h1>
                  <br />
                  <p class="benefit_sub">
                    09:00 ~ 21:00 무료 개방되는
                    <br />
                    교육시설에서 오프라인 교육으로 완전 몰입
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_3.png}" alt="ico benefit_3" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="notification has-background-white media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">현직자의 현장강의</h1>
                  <br />
                  <p class="benefit_sub">
                    현직 실무자의 현장강의로
                    <br />
                    실무에 필요한 내용만 전략적으로 학습
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_4.png}" alt="ico benefit_4" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="notification has-background-white media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">나를 위한 6개월</h1>
                  <br />
                  <p class="benefit_sub">
                    3개월, 4개월만에
                    <br />
                    현업 투입 가능한 개발자가 된다?
                    <br />
                    진짜 개발자가 되기 위한 충분한 투자
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_5.png}" alt="ico benefit_5" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third multiline_box_1">
            <article class="notification has-background-white media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">실무 프로젝트 10개</h1>
                  <br />
                  <p class="benefit_sub">
                    약 10개의 실무 프로젝트로
                    <br />
                    6개월 뒤 탄탄해진 포트폴리오
                  </p>
                </div>
                <div class="index_figure">
                  <figure class="media-left">
                    <img th:src="@{/ico/benefit_6.png}" alt="ico benefit_6" />
                  </figure>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- Section 4  -->
      <section class="container container_bottom back_white">
        <div class="hero-body">
          <div class="container has-text-centered back_white">
            <h4 class="title_1 small_title">BENEFITS</h4>
            <h1 class="title_big title_sub_1">
              새로운 커리어 전환점, 천재IT교육센터와 함께 하세요.
            </h1>
            <h4 class="title_sub_1">신청 및 개강 안내</h4>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="container back_white">
            <div class="columns">
              <!-- 신청 기간 -->
              <div class="column">
                <h4 class="benefits_title">신청 기간</h4>
                <div class="benefits_sub">
                  <figure class="media-left">
                    <img
                      th:src="@{/ico/infomation_1.png}"
                      alt="ico infomation_1"
                    />
                  </figure>
                  <div class="benefits_sub_in">
                    2024년 03월 05일 ~ 2024년 04월 19일
                  </div>
                </div>
              </div>
              <!-- 지원 방법 -->
              <div class="column">
                <h4 class="benefits_title">지원 방법</h4>
                <div class="benefits_sub">
                  <figure class="media-left">
                    <img
                      th:src="@{/ico/infomation_2.png}"
                      alt="ico infomation_2"
                    />
                  </figure>
                  <div class="benefits_sub_in">
                    1. 서류 심사 : 신청폼 작성<br />
                    2. 면접 심사 : 대면 혹은 비대면 인터뷰 진행<br />
                    3. 합격자 발표 : 개별 통보
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h4 class="benefits_title">교육 기간</h4>
                <div class="benefits_sub">
                  <figure class="media-left">
                    <img
                      th:src="@{/ico/infomation_3.png}"
                      alt="ico infomation_3"
                    />
                  </figure>
                  <div class="benefits_sub_in">
                    2024년 04월 23일 ~ 2024년 10월 29일
                  </div>
                </div>
              </div>
              <div class="column">
                <h4 class="benefits_title">참여 대상</h4>
                <div class="benefits_sub">
                  <figure class="media-left">
                    <img
                      th:src="@{/ico/infomation_4.png}"
                      alt="ico infomation_4"
                    />
                  </figure>
                  <div class="benefits_sub_in">
                    1. 국민내일배움카드 보유 혹은 발급 가능한 자<br />2.
                    K-Digital Training 수강 이력이 없는 자
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script th:inline="javascript">
        (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

        ChannelIO('boot', {
          "pluginKey": "ebc8aaee-afda-484d-a633-5d8a0dff7fb3"
        });
      </script>
    </div>
    <th:block th:replace="main/sign/sign :: sign"></th:block>
    <th:block th:replace="include/footer :: footer"></th:block>
  </body>
</html>
