<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <title>과정 별 신청 현황</title>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{../../../static/css/ImportCSS/board.css}">

</head>
<body id="top">
<main>
    <th:block th:replace="include/header :: header"></th:block>
    <section class="page-title" style="padding-top: 60px; ">
        <nav class="breadcrumb has-succeeds-separator is-medium is-right mt-3 p-4 breadcrumb_1"  aria-label="breadcrumbs">
            <ul class="mr-5">
                <li><a th:href="@{/static}"><i class="xi-home is-size-3"></i>홈</a></li>
                <li><a th:href="@{/apply_sub/list}">과정 별 신청 현황</a></li>
            </ul>
            <p class="title has-text-centered mt-1 mb-2">과정 별 신청 현황</p>
        </nav>
    </section>

    <div class="container back_white" style="padding-top: 40px;">
        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">글 번호</th>
                <td th:text="${adminSubDTOList.no}"></td>
                <th scope="row">코딩 경험 여부</th>
                <td th:text="${adminSubDTOList.coding_experience}"></td>
            </tr>
            <tr>
                <th scope="row">성명</th>
                <td th:text="${adminSubDTOList.name}"></td>
                <th scope="row">신청일</th>
                <td th:text="${#temporals.format(adminSubDTOList.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th scope="row">과정명</th>
                <td th:text="${adminSubDTOList.course}"></td>
                <th scope="row">이메일</th>
                <td th:text="${adminSubDTOList.email}"></td>
            </tr>
            <tr>
                <th scope="row">연락처</th>
                <td th:text="${adminSubDTOList.tel}"></td>
                <th scope="row">최종학력</th>
                <td th:text="${adminSubDTOList.degree}"></td>
            </tr>
            <tr>
                <th scope="row">나이</th>
                <td th:text="${adminSubDTOList.age}"></td>
                <th scope="row">학교 및 전공명</th>
                <td th:text="${adminSubDTOList.graduation_degree}"></td>
            </tr>
            <tr>
                <th scope="row">내일 배움 카드 여부</th>
                <td th:text="${adminSubDTOList.studen_card}"></td>
                <th scope="row">국민취업지원제도 참여 경험</th>
                <td th:text="${adminSubDTOList.workup}"></td>
            </tr>
            <tr>
                <th scope="row" >KDT 과정 수강 이력</th>
                <td th:text="${adminSubDTOList.kdt_process}"></td>
                <th scope="row">국민취업지원제도 참여 경험</th>
                <td th:text="${adminSubDTOList.workup}"></td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <p>[[${adminSubDTOList.paper1}]]</p>
<!--                    <textarea title="내용" id="content1" name="contents" th:text="${adminSubDTOList.paper1}" readonly></textarea>-->
                </td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <p>[[${adminSubDTOList.paper2}]]</p>
<!--                    <textarea title="내용" id="content2" name="contents" th:text="${adminSubDTOList.paper2}" readonly></textarea>-->
                </td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <p>[[${adminSubDTOList.paper3}]]</p>
<!--                    <textarea title="내용" id="content3" name="contents" th:text="${adminSubDTOList.paper3}" readonly></textarea>-->
                </td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <p>[[${adminSubDTOList.route}]]</p>
<!--                    <textarea title="내용" id="content4" name="contents" th:text="${adminSubDTOList.route}" readonly></textarea>-->
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
        <div class="btn-group mt-3" style="padding-bottom: 40px;">
            <a class="course_button" th:href="@{/adminSubject/list}" style="color: #fff; margin-top: 50px;">목록</a>
        </div>

    <script th:inline="javascript">
        const errors = [[${errors}]]
        console.log(errors)
        let errorMsg = ''
        if(errors){
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }

    </script>
    </div>
</main>

<th:block th:replace="include/footer :: footer"></th:block>

</body>
</html>